
body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: rgb(29, 9, 9);
}
.App{
  width: 100vw;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}



.form-input{
  width: 400px;
  height: 30px;
  font-size: 22px;
  margin-right: 20px;
}

.form-submit-btton{
  background-color: palegreen;
  padding: 8px 20px;
}

.todo{
  margin-top: 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-sub{
  display: flex;
  justify-content: center;
}

.todo-item{
  list-style: none;
  font-size: 22px;
  font-weight: 600;
  color: #000;
  border: 5px solid green;
  padding: 10px;
  margin-left: 30px;
}
.remove-btn{
  background-color: hotpink;
  padding: 10px 30px;
}
.done-btn{
  background-color: hotpink;
  padding: 10px 30px;
}
.done-checkbox{
  height: 20px;
  width: 21px;
  margin-top: 18px;
}
.completed{
  border: 5px solid red;
  padding: 10px;
  text-decoration: line-through;
}

.handle-multiple{
  display: grid;
  /* background-color: chartreuse; */
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.done-multiple{
  margin-right: 70px;
  background-color: chocolate;
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
}

.remove-multiple{
  background-color: darkgoldenrod;
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
}